{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [
    erlfmt,
    % Trick rebar3 to download and build erlperf, but not include it at runtime.
    % Using latest version from trunk to be able to label runners.
    {erlperf, {git, "https://github.com/max-au/erlperf.git", {branch, "master"}}},
    rebar3_ex_doc
]}.

{erlfmt, [
    write,
    {files, ["{src,include,test}/**/*.{hrl,erl,app.src,escript}", "rebar.config"]}
]}.

{profiles, [
    {test, [
        {deps, [proper]},
        {erl_opts, [debug_info, {d, 'TEST'}]}
    ]},
    {bin_opt_info, [
        {erl_opts, [bin_opt_info]}
    ]}
]}.
