name: Erlang CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:

  build:

    runs-on: ubuntu-latest

    container:
      image: erlang:27-slim

    steps:
    - uses: actions/checkout@v6.0.1
    - name: Check formatting
      run: rebar3 fmt --check
    - name: Compile
      run: rebar3 compile
    - name: Run tests
      run: rebar3 ct
